aquecimento OBI/*
!aquecimento OBI/*.cpp

OBI 2019/*
!OBI 2019/*.cpp

aulas/*
!aulas/*.cpp
!aulas/combinatoria
aulas/combinatoria/*
!aulas/combinatoria/*.cpp

contests 2024/Semana1/*
contests 2024/Semana2/*
contests 2024/Semana3/*
contests 2024/Semana4/*
contests 2024/Semana5/*
contests 2024/Semana6/*
contests 2024/Semana7/*

!contests 2024/Semana1/*.cpp
!contests 2024/Semana2/*.cpp
!contests 2024/Semana3/*.cpp
!contests 2024/Semana4/*.cpp
!contests 2024/Semana4/*pdf
!contests 2024/Semana5/*.cpp
!contests 2024/Semana5/*pdf
!contests 2024/Semana6/*.cpp
!contests 2024/Semana6/*pdf
!contests 2024/Semana7/*pdf


.vscode/tasks.json
.vscode/settings.json
